:root {
	--clr-magenta: 300 43% 22%;
	--clr-pink: 333 80% 67%;
	--clr-dark-gray-magenta: 303 10% 53%;
	--clr-light-gray-magenta: 300 24% 96%;
	--clr-white: 0 0% 100%;

	--ff-spartan: 'Spartan', sans-serif;
	--main-radius: 0.5rem;
	--space-small: 1.25rem;
	--space-big: 2rem;
}

/* CSS RESET */
*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
	display: block;
}

html {
	font-size: 15px;
}

/* BODY */
body {
	display: grid;
	place-items: center;
	gap: var(--space-big);

	padding: 4rem 1rem;
	min-height: 100vh;

	color: hsl(var(--clr-dark-gray-magenta));
	font-family: var(--ff-spartan);
	line-height: 1.5;
	background: url('./images/bg-pattern-top-mobile.svg') top no-repeat,
		url('./images/bg-pattern-bottom-mobile.svg') bottom no-repeat;
}

.top {
	display: flex;
	flex-direction: column;
	gap: var(--space-big);

	text-align: center;
}

.top__headings {
	display: flex;
	flex-direction: column;
	gap: var(--space-small);
}

.top__heading {
	color: hsl(var(--clr-magenta));
	font-weight: 700;
	line-height: 1;
}

/* RATINGS SECTION */

.top__ratings {
	display: flex;
	flex-direction: column;
	gap: var(--space-small);
}

.top__rating {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: calc(var(--space-small) / 2);

	padding: calc(var(--space-small) / 2);

	color: hsl(var(--clr-magenta));
	font-weight: 700;
	background-color: hsl(var(--clr-light-gray-magenta));
	border-radius: var(--main-radius);
}

.top__stars {
	display: flex;
	gap: 10px;
}

/* REVIEWS */

.reviews {
	display: flex;
	flex-direction: column;
	gap: var(--space-small);
}

.review {
	display: flex;
	flex-direction: column;
	gap: var(--space-small);

	padding: var(--space-big);

	font-weight: 500;
	color: hsl(var(--clr-white));
	background-color: hsl(var(--clr-magenta));
	border-radius: var(--main-radius);
}

.review__user {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: var(--space-small);
}

.review__user__avatar {
	height: 3rem;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	overflow: hidden;
}

.review__user__name p {
	color: hsl(var(--clr-pink));
}

.review h2,
.review p {
	font-size: 1rem;
}

.review p {
	font-weight: 400;
}

@media (min-width: 1024px) {
	:root {
		--space-small: 1.5rem;
	}

	body {
		grid-template-rows: 1fr 1fr;

		margin: 0 auto;
		max-width: 75%;
		background: url('./images/bg-pattern-top-desktop.svg') top left no-repeat,
			url('/images/bg-pattern-bottom-desktop.svg') bottom right no-repeat;
	}

	.top {
		flex-direction: row;
	}

	.top__headings {
		flex: 1;
		text-align: left;
	}

	.top__ratings {
		flex: 1;
	}

	.top__heading {
		font-size: 3rem;
	}

	.top__rating {
		flex-direction: row;
		align-items: center;
		gap: var(--space-big);
		padding: var(--space-small) var(--space-big);
	}

	.top__rating:nth-child(1) {
		transform: translateX(-4rem);
	}
	.top__rating:nth-child(2) {
		transform: translateX(-2rem);
	}

	.reviews {
		flex-direction: row;
	}

	.review:nth-child(2) {
		transform: translateY(1rem);
	}
	.review:nth-child(3) {
		transform: translateY(2rem);
	}
}
